<main>
    <div class="container blue lighten-4 center-align">
        <div class="row">
            <div class="col 8">
                <h1> Create And Snack at the Sandwich Shack! </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="existing-sandwiches" class=" left col 6">

            <ul class="collection">
                {{#each sandwich}}
                {{#unless this.devoured}}

                <li class="collection-item">
                     {{this.sandwich_name}}

                    <form action="/api/sandwich/{{this.id}}?_method=PUT" method="POST">
                        <a class="waves-effect waves-light btn">Consume!</a>
                    </form>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>


        <div id="devoured" class="col 4">

            <div class="right col 4">
                <ul class="collection">
                    {{#each sandwich}}
                     {{#if this.devoured}}
                     
                    <class="collection-item">
                        {{this.id}}. {{this.sandwich_name}}
                    </li>
                    {{/if}} {{/each}}
                </ul>
            </div>
        </div>
    </div>
</main>
<div class="col s12" id='new-sandwich'>
    <h4>Create Thy Sandwich: </h4>
    <form action="/api/sandwiches" method="POST">
        <div class="input-field">
            <label for="your-sandwich"></label>
            <input type="text" id="your-sandwich" name="sandwich_name">
        </div>
        <a class="waves-effect waves-light btn">Add your creation!</a>
    </form>
</div>